sample-text-1 = 0 0 237px 38px
sample-text-yolo = 0 -38px 83px 32px
sample-sprite($sprite)
    background-image url('../img/sample.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
