@import base
  
h1:before
  content: "" + meta.title + " by Stylus"
  display: block
  
  background: color.sub
  color: color.main
  font-family: font.mincho

h1:after
  content: ""
  display: block
  replace("../img/your-face.png")
