@import base

//
//  Import Mixins
//
@import "mixin/replace"
@import "mixin/hide-text"

//
//  Global Reset
//

global-reset()

body, html
  height: 100%

//
//  Wrapper Style
//

.{meta.slug}
  position: relative
  min-height: 100%
  font-family: font.gothic
  &, *
    box-sizing: border-box

//
//  Modules
//

.{meta.slug}
  .top
    @import "partial/top"
