// スプライトの読み分けサンプル
if isPc
  @import "../sprite/sample-pc"
else
  @import "../sprite/sample"

&
  width: layout.width
  margin: 0 auto
  padding: s(32px)
  
  background: #333
  color: #fff

h1
  &:before
    content: ""+pixelRatio
  font-size: s(32px)
  line-height: s(32px*2)
  font-family: font.gothic

p
  font-size: s(16px)
  line-height: s(16px*2)
  font-family: font.mincho

.sample-text-1
.sample-text-yolo
  display: block
  line-height: s(42px)

.sample-text-1
  sample-sprite(sample-text-1)
  
.sample-text-yolo
  sample-sprite(sample-text-yolo)
