extend base

block meta
  include meta

block content
  div(class=meta.slug)
    include content-index

block stylesheet
  link(href="css/style.css", rel="stylesheet")

block script-body
  script(src="js/app.js")
