extend base

block meta
  include meta

block content
  div(class=meta.slug)
    .top
      include partial/top
    include module/social-roots

block stylesheet
  link(href="css/style.css", rel="stylesheet")

block script-body
  script(src="js/app.js")
